body {
     font-family: Arial;
     margin: 0;
     padding: 0;
}

.header_main {
     padding: 10px;
     text-align: center;
     background: #66AC47;
     color: white;
     font-size: 12px;
}

.header_main > h3{
  padding: 12px 0px;
  margin: 0;
}

.header_secondary {
     padding: 10px;
     text-align: center;
     background: #007155;
     color: white;
     font-size: 16px;
}

.header_secondary > p{
  padding: 0;
  margin: 0;
}

.boxes {
     color: black;
     padding: 10px;
     /* background: #A7D4EE; */
}


input[type=text], select, input {
width: 100%;
padding: 12px 12px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=button] {
width: 100%;
background-color: #007155;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

#test.secondaryBtn{
  background-color: rgb(124, 124, 124);
}

.testTextInfo{
  font-size: 10pt;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

#testError{
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 1em;
}


#countDown{
  padding: 10px;
  text-align: center;
}

#countdownText{
  text-align: center;
}

.warning{
  background-color: rgb(249, 132, 27) !important;
}

.danger{
  background-color: rgb(235, 67, 67) !important;
}

.crnResolver{
  width: 100%;
  float: left;
}
.crnInfo{
  background-color: rgb(160, 164, 193);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 13px;
  margin-bottom: 0;
  font-size: 12pt;
}
.crnResolver > input{
  margin-top: 0;
  border-radius: 4px;
  display: table-cell;
  float:left;
  width: 100%;
}

.crnResolver > input.valid{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 50%;
}

.crnResolver > input.invalid{
  width: 100%;
  border-radius: 4px;
}

.crnSeatInfo{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(67, 241, 109);
  height: 50px;
  padding-top: 13px;
  padding-left: 55%;
  transition: all 0.4s ease;
}

.seatInfoExpanded{
  padding-left: 15px;
  margin-bottom: 8px;
}

.seatsRemaining, .seatsDetail{
  font-size: 12pt;
  padding-left: .75em;
  color: black;
  text-decoration: none;
}

.courseLink{
  text-decoration: none;
  color: black;
}

.courseLink:focus, .courseLink:hover{
  color: rgba(0,0,0,0.5) !important;
  text-decoration: none !important;
}

.instructionsMain{
  padding: 10px;
}

input[type=submit]:hover {
background-color: #01533F;
}

.footer{
  background-color: rgb(83, 83, 83);
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 10pt;
  text-align: center;
}

.footer > p{
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.6);
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
/* ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
} */
